[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
audioop-lts = "==0.2.1"
certifi = "==2025.1.31"
charset-normalizer = "==3.4.1"
glob2 = "==0.7"
idna = "==3.10"
joblib = "==1.4.2"
kagglehub = "==0.3.11"
numpy = "==2.2.4"
packaging = "==24.2"
pandas = "==2.2.3"
pyaudio = "==0.2.14"
python-dateutil = "==2.9.0.post0"
pytz = "==2025.2"
pyyaml = "==6.0.2"
requests = "==2.32.3"
scikit-learn = "==1.6.1"
scipy = "==1.15.2"
six = "==1.17.0"
speechrecognition = "==3.14.2"
standard-aifc = "==3.13.0"
standard-chunk = "==3.13.0"
threadpoolctl = "==3.6.0"
tqdm = "==4.67.1"
typing-extensions = "==4.13.1"
tzdata = "==2025.2"
urllib3 = "==2.3.0"

[dev-packages]

[requires]
python_version = "3.10"
