[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
scikit-learn = "*"
pytest = "*"
pandas = "*"
pytest-cov = "*"
pymongo = "*"
dotenv = "*"
flask = "*"
openai = "*"
speechrecognition = "*"
pydub = "*"
nltk = "*"

[dev-packages]
tomli = "*"
typing_extensions = "*"

[requires]
python_version = "3.10"
