[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]
pylint = "*"
black = "*"
tomli = "*"
typing_extensions = "*"

[requires]
python_version = "3.10"
