{% extends "base.html" %}

{% block title %}
  Login
{% endblock %}

{% block content %}
  <div class="login-container">
    <h1>Movies For You</h1>
    <h2>Login</h2>
    <form action="/login" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Login</button>
    </form>

    <p style="margin-top: 20px;">
      Don’t have an account?
      <a href="/register">Register here</a>
    </p>
  </div>
{% endblock %}
