<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
    {{ movie.predicted_movie }}
{% endblock %}

{% block content %}
<div class="button-row">
    <a href="/logout" class="logout-button">Logout</a>
    <a href="/" class="back-button">← Back to Recording</a>
  </div>  

    <div class="movie-container">
        {% if movie.poster_url %}
        <img class="movie-poster" src="{{ movie.poster_url }}" alt="{{ movie.predicted_movie }} Poster">
        {% endif %}
        <div class="movie-details">
            <h1>{{ movie.title }}</h1>
            <div class="info"><strong>Duration:</strong> {{ movie.duration }}</div>
            <div class="info"><strong>Age-Rating:</strong> {{ movie.age_rating }}</div>
            <div class="info"><strong>Year:</strong> {{ movie.year }}</div>
            <div class="info"><strong>Rating:</strong> {{ movie.rating }}</div>
            <div class="description">
                <strong>Description:</strong> {{ movie.description }}
            </div>
        </div>
    </div>
{% endblock %}
