<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
    <title>{{ movie.title }}</title>
{% endblock %}

{% block content %}
    <div class="movie-container">
        <img class="movie-poster" src="{{ movie.poster_url }}" alt="{{ movie.title }} Poster">

        <div class="movie-details">
            <h1>{{ movie.title }}</h1>
            <div class="info"><strong>Director:</strong> {{ movie.director }}</div>
            <div class="info"><strong>Genre:</strong> {{ movie.genre }}</div>
            <div class="info"><strong>Actors:</strong> {{ movie.actors | join(', ') }}</div>
            <div class="info"><strong>Year:</strong> {{ movie.year }}</div>
            <div class="info"><strong>Rating:</strong> {{ movie.rating }}</div>
            <div class="description">
                <strong>Description:</strong> {{ movie.description }}
            </div>
        </div>
    </div>
{% endblock %}