<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
  Saved Movies
{% endblock %}

{% block content %}
  <div class="button-row">
    <a href="/logout" class="logout-button">Logout</a>
    <a href="/" class="back-button">← Back to Recording</a>
  </div>
  <h1>Previously Recommended Movies</h1>  

  <div class="movies-grid">
    {% for movie in movies|reverse %}
      <div class="movie-card">
        {% if movie.poster_url %}
          <img src="{{ movie.poster_url }}" alt="{{ movie.predicted_movie }} Poster" style="width: 150px;">
        {% endif %}
        <h2>{{ movie.title }}</h2>
        <p>Year: {{ movie.year }}</p>
        <a href="/movie/{{ movie.sensor_data_id }}" class="seemore-button">See more...</a>
      </div>
    {% else %}
      <p>No saved movies found.</p>
    {% endfor %}
  </div>
{% endblock %}
