.header-container {
    position: absolute;         
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.header {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background: white;
    width: 100%;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.record-btn {
    display:block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: .2s background, color;
    cursor: pointer;
    border: 2px solid rgb(255, 50, 50);
}

ion-icon {
    font-size: 40px;
}

#start-recording {
    color: rgb(255, 50, 50);
    background: white;
}

#start-recording:hover {
    color: white;
    background: rgb(255, 50, 50);
}

#stop-recording {
    color: white;
    background: rgb(255, 50, 50);
}

#stop-recording:hover {
    color: rgb(255, 50, 50);
    background: white;
}